html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3 {
    font-family: 'Gloock', serif;
}

p, .desplegable {
    font-family: 'Montserrat', sans-serif;
}

.cabecera {
    background-color: #F8F8F8;
}

.cuerpo-1 {
    background-color: #2A292E;
}

.blog {
    background-color: #E3DFDC;
}

.blog-section, .perfil {
    background-color: #FAF6F3;
}

.registro, .inicio {
    background-color: #FAF6F3;
    padding: 8rem;
}

.inicio {
    padding: 14rem;
}

footer {
    margin-top: 4rem;
}

.formulario {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-----------------------------*/

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 20px;
    text-align: center;
    z-index: 9999;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup p {
    margin-bottom: 20px;
  }
  
  .popup button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #666;
  }